<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer_group.name %>
</p>

<%= link_to 'Edit', edit_customer_group_path(@customer_group) %> |
<%= link_to 'Back', customer_groups_path %>
